.header {
    padding: 10px;
    font-size: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: 4px solid #1abc9c;
    justify-content: space-between;
    z-index: 4;
    display: flex;
    flex-direction: row;
  }
  .restaurantTitle{
    color: #1abc9c; 
  }
.searchContainer{
    float: right;
    padding: 20px;
    display: flex;
}